# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<db_username>:<password>@cluster0.rrfgy8h.mongodb.net/calmtouch?retryWrites=true&w=majority&appName=Cluster0

# Admin CMS Credentials
ADMIN_USERNAME=rehanblogsite
ADMIN_PASSWORD=rehanblogsite@2026adsense
ADMIN_SECRET_KEY=calmtouch_secret_cms_jwt_auth_key_2026

# Next Public Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
